@model TheatreCMS.Models.RentalRequest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RentalRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContactPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accepted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accepted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractSigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractSigned)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RentalRequestId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
